node_modules/
lib-cov
*.tsbuildinfo
npm-debug.log*
jspm_packages/
.npm
.fusebox/
.rpt2_cache/
yarn-error.log*
*.pid.lock
*.log
.git
.env
.rts2_cache_umd/
typings/
*.pid
.dynamodb/
.cache/
.yarn-integrity
.grunt
.tern-port
*.lcov
.node_repl_history
yarn-debug.log*
serverless
.cache
.lock-wscript
.rts2_cache_es/
lerna-debug.log*
.serverless/
pids
logs
.rts2_cache_cjs/
.env.test
node_modules
.eslintcache
*.seed
.nuxt
.next
build/Release
coverage
*.tgz
.nyc_output
bower_components
node_modules
build
.idea
.dockerignore
Dockerfile
Dockerfile.prod